
> Cohort Number : 33 <br>
> Lecture Number : 6 <br>
> Author : Jithin J Kumar <br>
> Topic : Data Preparation Process <br>
> Date : 14-04-2020

# Introduction to ML using Naive Bayes
---

- **Loading the data** and importing libraries
- Here we are using a Toy Dataset (Iris Dataset) which is available in scikit learn library.

In [51]:
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import pandas as pd

iris = datasets.load_iris()

Description on data : 
- **[Iris dataset ScikitLearn](https://scikit-learn.org/stable/auto_examples/datasets/plot_iris_dataset.html)**
- **[Iris Dataset on Wikipedia](https://en.wikipedia.org/wiki/Iris_flower_data_set)**

In [57]:
X = pd.DataFrame(iris.data)
y = pd.DataFrame(iris.target)

In [64]:
X

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [65]:
y

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

**Dependent and Independent Variable**

Here X is/are the Independent Variable and y is dependent varible

#### Assignment -1 
---

Reading Material : **[Chapter 2 of ISLR notebook](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf)** Page (28-55)

**Pointers**

- Difference between Prediction and Inference
- Bias Variance Trade Off
- Supervised and Unsupervised Learning
- Classification and regression

**Train test split** : [Scikit learn train test split documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

### Why ??

**Train test split and sampling techniques** : [Machine learning Mastery Blog](https://machinelearningmastery.com/evaluate-performance-machine-learning-algorithms-python-using-resampling/)

![kfold](images_ml/train_test.png)


**K-Fold**

![kfold](images_ml/kfold.png)

### Assignment -2 
---
- Implement K-Fold Validation
- Leave One Out Cross Validation.
- Repeated Random Test-Train Splits.
on the same dataset and evaluate the result of each.

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [70]:
print(f"Shape of X_train : {X_train.shape}")
print(f"Shape of X_test : {X_test.shape}")
print(f"Shape of y_train : {y_train.shape}")
print(f"Shape of y_test : {y_test.shape}")

Shape of X_train : (120, 4)
Shape of X_test : (30, 4)
Shape of y_train : (120, 1)
Shape of y_test : (30, 1)

In [40]:
classifier = GaussianNB()
classifier.fit(X_train, y_train) 
y_pred = classifier.predict(X_test)

In [41]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.93      1.00      0.96        13
           2       1.00      0.83      0.91         6

    accuracy                           0.97        30
   macro avg       0.98      0.94      0.96        30
weighted avg       0.97      0.97      0.97        30

#### Why Classfication Report ? Is there any other metric ?

Lets read about more such evaluation metrics [Machine learning Mastery](https://machinelearningmastery.com/tour-of-evaluation-metrics-for-imbalanced-classification/)

Some Commonly used Metrics for ML Model evaluation
- Accuracy = Correct Predictions / Total Predictions
- Error = Incorrect Predictions / Total Predictions


![Confusion metrics](images_ml/confusion.png)

Example of Fire alarm and fire in apartment.

- Sensitivity = TruePositive / (TruePositive + FalseNegative)
- Specificity = TrueNegative / (FalsePositive + TrueNegative)
- Precision = TruePositive / (TruePositive + FalsePositive)
- Recall = TruePositive / (TruePositive + FalseNegative)
- F-Measure = (2 * Precision * Recall) / (Precision + Recall)
- Fbeta-Measure = ((1 + beta^2) * Precision * Recall) / (beta^2 * Precision + Recall)

In [44]:
print(confusion_matrix(y_test, y_pred))

[[11  0  0]
 [ 0 13  0]
 [ 0  1  5]]

In [45]:
print('accuracy is',accuracy_score(y_pred,y_test))

accuracy is 0.9666666666666667